# <center> Lab 8. Retrieving the user’s LinkedIn Profile and analysing the profile’s connections </center>

### 205229103

### Arzoo Sah

**1. Access the LinkedIn API and create an app and retrieve the API key and Secret key
through the "Developer" section of your account settings by navigating directly
to https://www.linkedin.com/secure/developer.**

In [17]:
import requests
import string
import pandas as pd
import random
import json
import os
from prettytable import PrettyTable 
from collections import Counter
from operator import itemgetter
import csv

In [2]:
CLIENT_ID = '78mdymxokme9re'
CLIENT_SECRET = 'dH7WmABAoFp9hMiu'
REDIRECT_URI = 'http://localhost'

**2.Use LinkedIn OAuth credentials to receive an access token suitable for development
and access your own data**

In [3]:
letters = string.ascii_lowercase
CSRF_TOKEN = ''.join(random.choice(letters) for i in range(24))

auth_params = {'response_type': 'code',
 'client_id': CLIENT_ID,
 'redirect_uri': REDIRECT_URI,
 'state': CSRF_TOKEN,
 'scope': 'r_liteprofile,r_emailaddress,w_member_social'}

html = requests.get("https://www.linkedin.com/oauth/v2/authorization",params = auth_params)

print(html.url)

https://www.linkedin.com/login?session_redirect=%2Foauth%2Fv2%2Flogin-success%3Fapp_id%3D113884824%26auth_type%3DAC%26flow%3D%257B%2522authorizationType%2522%253A%2522OAUTH2_AUTHORIZATION_CODE%2522%252C%2522redirectUri%2522%253A%2522http%253A%252F%252Flocalhost%2522%252C%2522currentStage%2522%253A%2522LOGIN_SUCCESS%2522%252C%2522currentSubStage%2522%253A0%252C%2522authFlowName%2522%253A%2522generic-permission-list%2522%252C%2522appId%2522%253A113884824%252C%2522creationTime%2522%253A1631806302918%252C%2522state%2522%253A%2522wxfvtbncbqbxpamgshfptigk%2522%252C%2522scope%2522%253A%2522r_liteprofile%252Cr_emailaddress%252Cw_member_social%2522%257D&fromSignIn=1&trk=oauth&cancel_redirect=%2Foauth%2Fv2%2Flogin-cancel%3Fapp_id%3D113884824%26auth_type%3DAC%26flow%3D%257B%2522authorizationType%2522%253A%2522OAUTH2_AUTHORIZATION_CODE%2522%252C%2522redirectUri%2522%253A%2522http%253A%252F%252Flocalhost%2522%252C%2522currentStage%2522%253A%2522LOGIN_SUCCESS%2522%252C%2522currentSubStage%2522%253A0%252C%2522authFlowName%2522%253A%2522generic-permission-list%2522%252C%2522appId%2522%253A113884824%252C%2522creationTime%2522%253A1631806302918%252C%2522state%2522%253A%2522wxfvtbncbqbxpamgshfptigk%2522%252C%2522scope%2522%253A%2522r_liteprofile%252Cr_emailaddress%252Cw_member_social%2522%257D

**3. Inspect the address bar of your browser once you reach your redirect page and Copy
the code after '&code=...', but don't include '&state=...' and paste it in the code below**

In [6]:
AUTH_CODE='AQTkLMP79Ssa6QWhOUj70vdLKg52vPq9HUTR6QK2C-xnmM_by9sEaPp__IgtUa02Wm7vy7HDAhPTQEcaMgZq6vv1vppAAB_EdCHZaE0chMcvKUT4M7Zq7A3kY5qqGVduH-N3aEik1I8O4OcXp9Ow6Kww6d-YOxjO7ZzBfbPItzh68Rn5IzU4ooaTOprNj8Swsl1sMtxPKfO6oomOKGk'
ACCESS_TOKEN_URL = 'https://www.linkedin.com/oauth/v2/accessToken'
qd = {'grant_type': 'authorization_code',
 'code': AUTH_CODE,
 'redirect_uri': REDIRECT_URI,
 'client_id': CLIENT_ID,
 'client_secret': CLIENT_SECRET}
response = requests.post(ACCESS_TOKEN_URL, data=qd, timeout=60)

response = response.json()
access_token = response['access_token']
print ("Access Token:", access_token)
print ("Expires in (seconds):", response['expires_in'])

Access Token: AQVHum7OkWqNh_QvlQN9vl_Ryer8QpHc_EmFemiAzza8uTGQnxtlnfEHXx5XCycF_qpYz_yEiCsxn9ux-FsdnZyKLvpl9vuUtJldr3NFgwECAPv8XRRVPiw6A9gGxQu0ZQ17x8rOoocqjtlzR8AqRN2gvfy-vBmeml_xduyUAKVGsyS0cAFWkUgk_30y8B2o4bRtQehFrzgjbLahGcNjHuPJKdkELgBa405h3kfRDi6nZHjiey2VuWOLzQGiYgRNSxMHlWMABk1XKWEUldG71PnsXxVBD1aTzPMc28aXqyMqSj41VyVnZwEr0MaBjEL4_GPgvPTjiRP_nIIkcFrvZU0Q9BmtSA
Expires in (seconds): 5183999

**4. Make a HTTP request to access personal profile**

In [7]:
params = {'oauth2_access_token': access_token,
 'fields': ["localizedFirstName,localizedLastName,id"]}
response = requests.get('https://api.linkedin.com/v2/me', params = params)
print(json.dumps(response.json(), indent=1))

{
 "localizedLastName": "Sah",
 "id": "7hgStloEup",
 "localizedFirstName": "Arzoo"
}

**5. Download your LinkedIn profile data and read the connections data as a CSV file
from the URL https://www.linkedin.com/psettings/member-data**

In [22]:
df = pd.read_csv('connections.csv')
df

,First Name,Last Name,Email Address,Company,Position,Connected On
0,DIVYAA,LAKSHMI AS,NaN,NaN,NaN,16-Sep-21
1,LALITH,AKASH,NaN,NaN,NaN,11-Sep-21
2,Frastlin,J,NaN,NaN,NaN,02-Sep-21
3,BHARATH,S,NaN,NaN,NaN,25-Aug-21
4,Samir,Mendhe,NaN,ELEATION,Project Intern In Design,24-Aug-21
5,HARIKESH,.,NaN,Chegg Inc.,Q&A Expert,09-Aug-21
6,Rajamalliga,Sundar,NaN,AASHMAN FOUNDATION,Human Resources Intern,08-Aug-21
7,Malleeswari,G,NaN,LetsGrowMore,Data Science Intern,21-Jul-21
8,Maheshvaran,S,NaN,NaN,NaN,18-Jul-21
9,Keerthana,S,NaN,NaN,NaN,10-Jul-21
10,Mahalakshmi,S,NaN,The Sparks Foundation,Data Science and Bussiness Analytics intern at...,20-Jun-21
11,Howsik,T,NaN,Digiit Business Services,Graphic Web Designer,20-Jun-21
12,Deepak,R,NaN,The Sparks Foundation,Data Science and Business Analystics Intern,20-Jun-21
13,Viveka,Balaji,NaN,The Sparks Foundation,Data science and business analytics intern,20-Jun-21
14,Mohamed,Sahim,NaN,The Sparks Foundation,Data Science and Business Analytics,15-Jun-21
15,Hariharasudhan,D,NaN,NaN,NaN,04-Jun-21
16,Reshma,R S,NaN,The Sparks Foundation,Data Science and Business Analytics Intern,04-Jun-21
17,Bhargavi,Srinivasan,NaN,NaN,NaN,16-Apr-21
18,Keerthana,V,NaN,PlaceXP VITC,Content Writer,27-Jan-21
19,Ashish,Shah,NaN,Radite Energy,Design Engineer,02-Jan-21

In [23]:
CSV_FILE = 'Connections.csv'

csvReader = csv.DictReader(open(CSV_FILE), delimiter=',', quotechar='"')
contacts = [row for row in csvReader]

contacts

[{'First Name': 'DIVYAA ',
  'Last Name': 'LAKSHMI AS',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '16-Sep-21'},
 {'First Name': 'LALITH',
  'Last Name': 'AKASH',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '11-Sep-21'},
 {'First Name': 'Frastlin',
  'Last Name': 'J',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '02-Sep-21'},
 {'First Name': 'BHARATH',
  'Last Name': 'S',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '25-Aug-21'},
 {'First Name': 'Samir',
  'Last Name': 'Mendhe',
  'Email Address': '',
  'Company': 'ELEATION',
  'Position': 'Project Intern In Design',
  'Connected On': '24-Aug-21'},
 {'First Name': 'HARIKESH',
  'Last Name': '.',
  'Email Address': '',
  'Company': 'Chegg Inc.',
  'Position': 'Q&A Expert',
  'Connected On': '09-Aug-21'},
 {'First Name': 'Rajamalliga',
  'Last Name': 'Sundar',
  'Email Address': '',
  'Company': 'AASHMAN FOUNDATION',
  'Position': 'Human Resources Intern',
  'Connected On': '08-Aug-21'},
 {'First Name': 'Malleeswari',
  'Last Name': 'G',
  'Email Address': '',
  'Company': 'LetsGrowMore',
  'Position': 'Data Science Intern',
  'Connected On': '21-Jul-21'},
 {'First Name': 'Maheshvaran',
  'Last Name': 'S',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '18-Jul-21'},
 {'First Name': 'Keerthana',
  'Last Name': 'S',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '10-Jul-21'},
 {'First Name': 'Mahalakshmi',
  'Last Name': 'S',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': 'Data Science and Bussiness Analytics intern at  The Sparks Foundation ',
  'Connected On': '20-Jun-21'},
 {'First Name': 'Howsik',
  'Last Name': 'T',
  'Email Address': '',
  'Company': 'Digiit Business Services',
  'Position': 'Graphic Web Designer',
  'Connected On': '20-Jun-21'},
 {'First Name': 'Deepak',
  'Last Name': 'R',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': ' Data Science and Business Analystics Intern ',
  'Connected On': '20-Jun-21'},
 {'First Name': 'Viveka',
  'Last Name': 'Balaji',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': 'Data science and business analytics intern',
  'Connected On': '20-Jun-21'},
 {'First Name': 'Mohamed',
  'Last Name': 'Sahim',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': 'Data Science and Business Analytics',
  'Connected On': '15-Jun-21'},
 {'First Name': 'Hariharasudhan',
  'Last Name': 'D',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '04-Jun-21'},
 {'First Name': 'Reshma',
  'Last Name': 'R S',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': 'Data Science and Business Analytics Intern',
  'Connected On': '04-Jun-21'},
 {'First Name': 'Bhargavi',
  'Last Name': 'Srinivasan',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '16-Apr-21'},
 {'First Name': 'Keerthana',
  'Last Name': 'V',
  'Email Address': '',
  'Company': 'PlaceXP VITC',
  'Position': 'Content Writer',
  'Connected On': '27-Jan-21'},
 {'First Name': 'Ashish',
  'Last Name': 'Shah',
  'Email Address': '',
  'Company': 'Radite Energy',
  'Position': 'Design Engineer',
  'Connected On': '02-Jan-21'}]

**6. Apply some transformations to the connections dataset and retrieve the following:**

a. Find the list of associated organisations and get the frequency

b. Find the list of professional titles and the associated frequency

In [16]:
!pip3 install prettytable

Collecting prettytable
  Downloading prettytable-2.2.0-py3-none-any.whl (23 kB)
Requirement already satisfied: wcwidth in c:\users\arzoo sah\anaconda3\envs\notebook\lib\site-packages (from prettytable) (0.2.5)
Installing collected packages: prettytable
Successfully installed prettytable-2.2.0

In [24]:
transforms = [(', Inc.', ''), (', Inc', ''), (', LLC', ''), (', LLP', ''),
               (' LLC', ''), (' Inc.', ''), (' Inc', '')]

companies = [c['Company'].strip() for c in contacts if c['Company'].strip() != '']

for i, _ in enumerate(companies):
    for transform in transforms:
        companies[i] = companies[i].replace(*transform)

pt = PrettyTable(field_names=['Company', 'Freq'])
pt.align = 'l'
c = Counter(companies)

[pt.add_row([company, freq]) for (company, freq) in sorted(c.items(), key=itemgetter(1), reverse=True) if freq > 1]

print(pt)

+-----------------------+------+
| Company               | Freq |
+-----------------------+------+
| The Sparks Foundation | 5    |
+-----------------------+------+

In [25]:
transforms = [
    ('Sr.', 'Senior'),
    ('Sr', 'Senior'),
    ('Jr.', 'Junior'),
    ('Jr', 'Junior'),
    ('CEO', 'Chief Executive Officer'),
    ('COO', 'Chief Operating Officer'),
    ('CTO', 'Chief Technology Officer'),
    ('CFO', 'Chief Finance Officer'),
    ('VP', 'Vice President'),
    ]

titles = []
for contact in contacts:
    titles.extend([t.strip() for t in contact['Position'].split('/')
                  if contact['Position'].strip() != ''])

# Replace common/known abbreviations

for i, _ in enumerate(titles):
    for transform in transforms:
        titles[i] = titles[i].replace(*transform)

# Print out a table of titles sorted by frequency

pt = PrettyTable(field_names=['Job Title', 'Freq'])
pt.align = 'l'
c = Counter(titles)
[pt.add_row([title, freq]) 
 for (title, freq) in sorted(c.items(), key=itemgetter(1), reverse=True) 
     if freq > 1]
print(pt)

# Print out a table of tokens sorted by frequency

tokens = []
for title in titles:
    tokens.extend([t.strip(',') for t in title.split()])
pt = PrettyTable(field_names=['Token', 'Freq'])
pt.align = 'l'
c = Counter(tokens)
[pt.add_row([token, freq]) 
 for (token, freq) in sorted(c.items(), key=itemgetter(1), reverse=True) 
     if freq > 1 and len(token) > 2]
print(pt)

+-----------+------+
| Job Title | Freq |
+-----------+------+
+-----------+------+
+-----------+------+
| Token     | Freq |
+-----------+------+
| Data      | 6    |
| Intern    | 5    |
| Science   | 5    |
| and       | 5    |
| Analytics | 3    |
| Business  | 3    |
| Design    | 2    |
| intern    | 2    |
+-----------+------+