# <center> SMA_LAB_10-Clustering the job titles of LinkedIn Connections using Greedy Heuristic Algorithm </center>

### 1.Retrieve the Connections data of your LinkedIn Profile from the SMA Lab 8

In [1]:
import requests
import string
import random

In [2]:
CLIENT_ID = '78mdymxokme9re'
CLIENT_SECRET = 'dH7WmABAoFp9hMiu'
REDIRECT_URI = 'http://localhost'

In [3]:
# Generate a random string to protect against cross-site request forgery
letters = string.ascii_lowercase
CSRF_TOKEN = ''.join(random.choice(letters) for i in range(24))

auth_params = {'response_type': 'code',
               'client_id': CLIENT_ID,
               'redirect_uri': REDIRECT_URI,
               'state': CSRF_TOKEN,
               'scope': 'r_liteprofile,r_emailaddress,w_member_social'}

html = requests.get("https://www.linkedin.com/oauth/v2/authorization",
                    params = auth_params)

# Print the link to the approval page
print(html.url)

https://www.linkedin.com/uas/login?session_redirect=%2Foauth%2Fv2%2Flogin-success%3Fapp_id%3D113884824%26auth_type%3DAC%26flow%3D%257B%2522authorizationType%2522%253A%2522OAUTH2_AUTHORIZATION_CODE%2522%252C%2522redirectUri%2522%253A%2522http%253A%252F%252Flocalhost%2522%252C%2522currentStage%2522%253A%2522LOGIN_SUCCESS%2522%252C%2522currentSubStage%2522%253A0%252C%2522authFlowName%2522%253A%2522generic-permission-list%2522%252C%2522appId%2522%253A113884824%252C%2522scope%2522%253A%2522r_liteprofile%252Cr_emailaddress%252Cw_member_social%2522%252C%2522creationTime%2522%253A1632503007684%252C%2522state%2522%253A%2522ahlwduxbvbtnvbqypgnehgdr%2522%257D&fromSignIn=1&trk=oauth&cancel_redirect=%2Foauth%2Fv2%2Flogin-cancel%3Fapp_id%3D113884824%26auth_type%3DAC%26flow%3D%257B%2522authorizationType%2522%253A%2522OAUTH2_AUTHORIZATION_CODE%2522%252C%2522redirectUri%2522%253A%2522http%253A%252F%252Flocalhost%2522%252C%2522currentStage%2522%253A%2522LOGIN_SUCCESS%2522%252C%2522currentSubStage%2522%253A0%252C%2522authFlowName%2522%253A%2522generic-permission-list%2522%252C%2522appId%2522%253A113884824%252C%2522scope%2522%253A%2522r_liteprofile%252Cr_emailaddress%252Cw_member_social%2522%252C%2522creationTime%2522%253A1632503007684%252C%2522state%2522%253A%2522ahlwduxbvbtnvbqypgnehgdr%2522%257D

In [6]:
AUTH_CODE ='AQS13UwH-n1wLMBlu62D8K10n_Aogvp2dArpKq3ytZMN-2DP5hDKrErE0bfpMmVjq4rRgtfHVvNx5g1nwek5TjqHYZjJuEuK2V2WJbWXqAosdeHgAwjwyuWRN0HMQH2xoKQHPCSr7BrkkavJNwGjjE5V6w6c2TfdiVKkmJFoaFxNLEcTPf9uXa27ORlscmlZeoYSRf4WC7pUbBR3aAM'
 

ACCESS_TOKEN_URL = 'https://www.linkedin.com/oauth/v2/accessToken'

qd = {'grant_type': 'authorization_code',
      'code': AUTH_CODE,
'redirect_uri': REDIRECT_URI,
      'client_id': CLIENT_ID,
      'client_secret': CLIENT_SECRET}

response = requests.post(ACCESS_TOKEN_URL, data=qd, timeout=60)

response = response.json()

access_token = response['access_token']

print ("Access Token:", access_token)
print ("Expires in (seconds):", response['expires_in'])

Access Token: AQWARiJrNJR0yyNSRv46cI3VZgQDfWLGk4-IgIUTAuUQjab-g_izzDtA0AAlpPHlxUxI9V7h4T3P_gPilAF33uq__zGsmobCGMS_Owj2hWA1SXQPcHOwOjF48JSqj-A-k5CL7UNKR_K0aCMdWg_ksG9Lt0x23nglhXT24r9LrPDByMSU7_XMQxLLsT-rTfh2sbb4J-kebRDjESXN6h85Pkm4eevuVycvqcgFcqggYW9_NZ_UYm8D5Bc5q77DSkh1pRUwVYascgCNSg_PyE3mLD_FujUdVZY-tNdtivFKVe_iJ9VCE-UsFG5qzz4kIGH3ZGd_sbVJTMyfsc1_VqJhjdEvzLEgrA
Expires in (seconds): 5183999

In [7]:
import json
params = {'oauth2_access_token': access_token,
          'fields': ["localizedFirstName,localizedLastName,id"]}
response = requests.get('https://api.linkedin.com/v2/me', params = params)
print(json.dumps(response.json(), indent=1))

{
 "localizedLastName": "Sah",
 "id": "7hgStloEup",
 "localizedFirstName": "Arzoo"
}

In [8]:
import json

params = {'oauth2_access_token': access_token,
          'fields': ['lastName:(preferredLocale:(country,language))']}
response = requests.get('https://api.linkedin.com/v2/me', params = params)

print(json.dumps(response.json(), indent=1))

{
 "lastName": {
  "preferredLocale": {
   "country": "US",
   "language": "en"
  }
 }
}

In [9]:
import os
import csv

# Point this to your 'Connections.csv' file.
CSV_FILE = ('Connections.csv')

csvReader = csv.DictReader(open(CSV_FILE), delimiter=',', quotechar='"')
contacts = [row for row in csvReader]

In [10]:
contacts

[{'First Name': 'DIVYAA ',
  'Last Name': 'LAKSHMI AS',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '16-Sep-21'},
 {'First Name': 'LALITH',
  'Last Name': 'AKASH',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '11-Sep-21'},
 {'First Name': 'Frastlin',
  'Last Name': 'J',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '02-Sep-21'},
 {'First Name': 'BHARATH',
  'Last Name': 'S',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '25-Aug-21'},
 {'First Name': 'Samir',
  'Last Name': 'Mendhe',
  'Email Address': '',
  'Company': 'ELEATION',
  'Position': 'Project Intern In Design',
  'Connected On': '24-Aug-21'},
 {'First Name': 'HARIKESH',
  'Last Name': '.',
  'Email Address': '',
  'Company': 'Chegg Inc.',
  'Position': 'Q&A Expert',
  'Connected On': '09-Aug-21'},
 {'First Name': 'Rajamalliga',
  'Last Name': 'Sundar',
  'Email Address': '',
  'Company': 'AASHMAN FOUNDATION',
  'Position': 'Human Resources Intern',
  'Connected On': '08-Aug-21'},
 {'First Name': 'Malleeswari',
  'Last Name': 'G',
  'Email Address': '',
  'Company': 'LetsGrowMore',
  'Position': 'Data Science Intern',
  'Connected On': '21-Jul-21'},
 {'First Name': 'Maheshvaran',
  'Last Name': 'S',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '18-Jul-21'},
 {'First Name': 'Keerthana',
  'Last Name': 'S',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '10-Jul-21'},
 {'First Name': 'Mahalakshmi',
  'Last Name': 'S',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': 'Data Science and Bussiness Analytics intern at  The Sparks Foundation ',
  'Connected On': '20-Jun-21'},
 {'First Name': 'Howsik',
  'Last Name': 'T',
  'Email Address': '',
  'Company': 'Digiit Business Services',
  'Position': 'Graphic Web Designer',
  'Connected On': '20-Jun-21'},
 {'First Name': 'Deepak',
  'Last Name': 'R',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': ' Data Science and Business Analystics Intern ',
  'Connected On': '20-Jun-21'},
 {'First Name': 'Viveka',
  'Last Name': 'Balaji',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': 'Data science and business analytics intern',
  'Connected On': '20-Jun-21'},
 {'First Name': 'Mohamed',
  'Last Name': 'Sahim',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': 'Data Science and Business Analytics',
  'Connected On': '15-Jun-21'},
 {'First Name': 'Hariharasudhan',
  'Last Name': 'D',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '04-Jun-21'},
 {'First Name': 'Reshma',
  'Last Name': 'R S',
  'Email Address': '',
  'Company': 'The Sparks Foundation',
  'Position': 'Data Science and Business Analytics Intern',
  'Connected On': '04-Jun-21'},
 {'First Name': 'Bhargavi',
  'Last Name': 'Srinivasan',
  'Email Address': '',
  'Company': '',
  'Position': '',
  'Connected On': '16-Apr-21'},
 {'First Name': 'Keerthana',
  'Last Name': 'V',
  'Email Address': '',
  'Company': 'PlaceXP VITC',
  'Position': 'Content Writer',
  'Connected On': '27-Jan-21'},
 {'First Name': 'Ashish',
  'Last Name': 'Shah',
  'Email Address': '',
  'Company': 'Radite Energy',
  'Position': 'Design Engineer',
  'Connected On': '02-Jan-21'}]

In [11]:
import pandas as pd

In [12]:
linkedin = pd.read_csv("Connections.csv")

In [13]:
linkedin.head(10)

,First Name,Last Name,Email Address,Company,Position,Connected On
0,DIVYAA,LAKSHMI AS,NaN,NaN,NaN,16-Sep-21
1,LALITH,AKASH,NaN,NaN,NaN,11-Sep-21
2,Frastlin,J,NaN,NaN,NaN,02-Sep-21
3,BHARATH,S,NaN,NaN,NaN,25-Aug-21
4,Samir,Mendhe,NaN,ELEATION,Project Intern In Design,24-Aug-21
5,HARIKESH,.,NaN,Chegg Inc.,Q&A Expert,09-Aug-21
6,Rajamalliga,Sundar,NaN,AASHMAN FOUNDATION,Human Resources Intern,08-Aug-21
7,Malleeswari,G,NaN,LetsGrowMore,Data Science Intern,21-Jul-21
8,Maheshvaran,S,NaN,NaN,NaN,18-Jul-21
9,Keerthana,S,NaN,NaN,NaN,10-Jul-21

### 2.Transform the titles by normalising it to known forms

In [14]:
!pip install prettytable

Requirement already satisfied: prettytable in c:\users\arzoo sah\anaconda3\envs\notebook\lib\site-packages (2.2.0)
Requirement already satisfied: wcwidth in c:\users\arzoo sah\anaconda3\envs\notebook\lib\site-packages (from prettytable) (0.2.5)

In [15]:
from prettytable import PrettyTable # pip install prettytable
from collections import Counter
from operator import itemgetter

# Define a set of transforms that converts the first item
# to the second item. Here, we're simply handling some
# commonly known abbreviations, stripping off common suffixes,
# etc.

transforms = [(', Inc.', ''), (', Inc', ''), (', LLC', ''), (', LLP', ''),
               (' LLC', ''), (' Inc.', ''), (' Inc', '')]

companies = [c['Company'].strip() for c in contacts if c['Company'].strip() != '']

for i, _ in enumerate(companies):
    for transform in transforms:
        companies[i] = companies[i].replace(*transform)

pt = PrettyTable(field_names=['Company', 'Freq'])
pt.align = 'l'
c = Counter(companies)

[pt.add_row([company, freq]) for (company, freq) in sorted(c.items(), key=itemgetter(1), reverse=True) if freq > 0]

print(pt)

+--------------------------+------+
| Company                  | Freq |
+--------------------------+------+
| The Sparks Foundation    | 5    |
| ELEATION                 | 1    |
| Chegg                    | 1    |
| AASHMAN FOUNDATION       | 1    |
| LetsGrowMore             | 1    |
| Digiit Business Services | 1    |
| PlaceXP VITC             | 1    |
| Radite Energy            | 1    |
+--------------------------+------+

In [16]:
transforms = [
('Sr.', 'Senior'),
('Sr', 'Senior'),
('Jr.', 'Junior'),
('Jr', 'Junior'),
('CEO', 'Chief Executive Officer'),
('COO', 'Chief Operating Officer'),
('CTO', 'Chief Technology Officer'),
('CFO', 'Chief Finance Officer'),
('VP', 'Vice President')]

# Read in a list of titles and split apart
# any combined titles like "President/CEO."
# Other variations could be handled as well, such
# as "President & CEO", "President and CEO", etc.

titles = []
for contact in contacts:
    titles.extend([t.strip() for t in contact['Position'].split('/')
if contact['Position'].strip() != ''])

# Replace common/known abbreviations

for i, _ in enumerate(titles):
    for transform in transforms:
        titles[i] = titles[i].replace(*transform)

# Print out a table of titles sorted by frequency

ptj = PrettyTable(field_names=['Job Title', 'Freq'])
ptj.align = 'l'
c = Counter(titles)
[ptj.add_row([title, freq])
for (title, freq) in sorted(c.items(), key=itemgetter(1), reverse=True)
if freq > 0]
print(ptj)

# Print out a table of tokens sorted by frequency

tokens = []
for title in titles:
    tokens.extend([t.strip(',') for t in title.split()])
ptt = PrettyTable(field_names=['Token', 'Freq'])
ptt.align = 'l'
c = Counter(tokens)
[ptt.add_row([token, freq])
for (token, freq) in sorted(c.items(), key=itemgetter(1), reverse=True)
  if freq > 1 and len(token) > 1]
print(ptt)

+-----------------------------------------------------------------------+------+
| Job Title                                                             | Freq |
+-----------------------------------------------------------------------+------+
| Project Intern In Design                                              | 1    |
| Q&A Expert                                                            | 1    |
| Human Resources Intern                                                | 1    |
| Data Science Intern                                                   | 1    |
| Data Science and Bussiness Analytics intern at  The Sparks Foundation | 1    |
| Graphic Web Designer                                                  | 1    |
| Data Science and Business Analystics Intern                           | 1    |
| Data science and business analytics intern                            | 1    |
| Data Science and Business Analytics                                   | 1    |
| Data Science and Business Analytics Intern                            | 1    |
| Content Writer                                                        | 1    |
| Design Engineer                                                       | 1    |
+-----------------------------------------------------------------------+------+
+-----------+------+
| Token     | Freq |
+-----------+------+
| Data      | 6    |
| Intern    | 5    |
| Science   | 5    |
| and       | 5    |
| Analytics | 3    |
| Business  | 3    |
| Design    | 2    |
| intern    | 2    |
+-----------+------+

In [17]:
import os
import csv
from collections import Counter
from operator import itemgetter
from prettytable import PrettyTable

# XXX: Place your "Outlook CSV" formatted file of connections from 
# http://www.linkedin.com/people/export-settings at the following
# location: resources/ch03-linkedin/my_connections.csv

CSV_FILE = ('Connections.csv')

# Define a set of transforms that converts the first item
# to the second item. Here, we're simply handling some
# commonly known abbreviations, stripping off common suffixes, 
# etc.

transforms = [(', Inc.', ''), (', Inc', ''), (', LLC', ''), (', LLP', ''),
               (' LLC', ''), (' Inc.', ''), (' Inc', '')]

csvReader = csv.DictReader(open(CSV_FILE), delimiter=',', quotechar='"')
contacts = [row for row in csvReader]
companies = [c['Company'].strip() for c in contacts if c['Company'].strip() != '']

for i, _ in enumerate(companies):
    for transform in transforms:
        companies[i] = companies[i].replace(*transform)

pt = PrettyTable(field_names=['Company', 'Freq'])
pt.align = 'l'
c = Counter(companies)
[pt.add_row([company, freq]) 
 for (company, freq) in sorted(c.items(), key=itemgetter(1), reverse=True) 
     if freq > 0]
print(pt)

+--------------------------+------+
| Company                  | Freq |
+--------------------------+------+
| The Sparks Foundation    | 5    |
| ELEATION                 | 1    |
| Chegg                    | 1    |
| AASHMAN FOUNDATION       | 1    |
| LetsGrowMore             | 1    |
| Digiit Business Services | 1    |
| PlaceXP VITC             | 1    |
| Radite Energy            | 1    |
+--------------------------+------+

### 4. Find Jaccard distance between two titles

In [18]:
from nltk.util import bigrams
ceo_bigrams = list(bigrams("Chief Executive Officer".split(), pad_left=True, pad_right=True))
cto_bigrams = list(bigrams("Chief Technology Officer".split(), pad_left=True, pad_right=True))
print(ceo_bigrams)
print(cto_bigrams)
print(len(set(ceo_bigrams).intersection(set(cto_bigrams))))

[(None, 'Chief'), ('Chief', 'Executive'), ('Executive', 'Officer'), ('Officer', None)]
[(None, 'Chief'), ('Chief', 'Technology'), ('Technology', 'Officer'), ('Officer', None)]
2

### 5. Calculate the distance and similarity between 2 titles

In [19]:
from nltk.metrics.distance import jaccard_distance # pip install nltk

job_title_1 = 'Chief Executive Officer'.split()
job_title_2 = 'Chief Technology Officer'.split()

print(job_title_1)
print(job_title_2)
print()

print('Intersection:')
intersection = set(job_title_1).intersection(set(job_title_2))
print(intersection)
print()

print('Union:')
union = set(job_title_1).union(set(job_title_2))
print(union)
print()

print('Similarity:', len(intersection) / len(union))
print('Distance:', jaccard_distance(set(job_title_1), set(job_title_2)))

['Chief', 'Executive', 'Officer']
['Chief', 'Technology', 'Officer']

Intersection:
{'Officer', 'Chief'}

Union:
{'Executive', 'Chief', 'Technology', 'Officer'}

Similarity: 0.5
Distance: 0.5

### 6. Apply the above distance and similarity measures to the job titles and find clusters

In [20]:
!pip install cluster

Requirement already satisfied: cluster in c:\users\arzoo sah\anaconda3\envs\notebook\lib\site-packages (1.4.1.post3)

In [21]:
import os
import csv
from nltk.metrics.distance import jaccard_distance

CSV_FILE = ("Connections.csv")

DISTANCE_THRESHOLD = 0.5
DISTANCE = jaccard_distance

In [22]:
def cluster_contacts_by_title(csv_file):

    transforms = [
        ('Sr.', 'Senior'),
        ('Sr', 'Senior'),
        ('Jr.', 'Junior'),
        ('Jr', 'Junior'),
        ('CEO', 'Chief Executive Officer'),
        ('COO', 'Chief Operating Officer'),
        ('CTO', 'Chief Technology Officer'),
        ('CFO', 'Chief Finance Officer'),
        ('VP', 'Vice President'),
        ]

    separators = ['/', 'and', '&']

    csvReader = csv.DictReader(open(csv_file), delimiter=',', quotechar='"')
    contacts = [row for row in csvReader]

    # Normalize and/or replace known abbreviations
    # and build up a list of common titles.

    all_titles = []
    for i, _ in enumerate(contacts):
        if contacts[i]['Position'] == '':
            contacts[i]['Position'] = ['']
            continue
        titles = [contacts[i]['Position']]
        
        for title in titles:
            for separator in separators:
                if title.find(separator) >= 0:
                    titles.remove(title)
                    titles.extend([title.strip() for title in title.split(separator)
                                  if title.strip() != ''])

        for transform in transforms:
            titles = [title.replace(*transform) for title in titles]
        contacts[i]['Position'] = titles
        all_titles.extend(titles)

    all_titles = list(set(all_titles))

    clusters = {}
    for title1 in all_titles:
        clusters[title1] = []
        for title2 in all_titles:
            if title2 in clusters[title1] or title2 in clusters and title1 in clusters[title2]:
                continue
            distance = DISTANCE(set(title1.split()), set(title2.split()))

            if distance < DISTANCE_THRESHOLD:
                clusters[title1].append(title2)

    # Flatten out clusters

    clusters = [clusters[title] for title in clusters if len(clusters[title]) > 1]

    # Round up contacts who are in these clusters and group them together

    clustered_contacts = {}
    for cluster in clusters:
        clustered_contacts[tuple(cluster)] = []
        for contact in contacts:
            for title in contact['Position']:
                if title in cluster:
                    clustered_contacts[tuple(cluster)].append('%s %s'
                            % (contact['First Name'], contact['Last Name']))

    return clustered_contacts

In [24]:
clustered_contacts = cluster_contacts_by_title(CSV_FILE)
print(clustered_contacts)
print()
for titles in clustered_contacts:
    common_titles_heading = 'Common Titles: ' + ', '.join(titles)

    descriptive_terms = set(titles[0].split())
    for title in titles:
        descriptive_terms.intersection_update(set(title.split()))
    descriptive_terms_heading = 'Descriptive Terms: ' \
        + ', '.join(descriptive_terms)
    print(descriptive_terms_heading)
    print('-' * max(len(descriptive_terms_heading), len(common_titles_heading)))
    print('\n'.join(clustered_contacts[titles]))
    print()

{('Data Science Intern', 'Data Science'): ['Malleeswari G', 'Mahalakshmi S', 'Deepak R', 'Mohamed Sahim', 'Reshma R S'], ('Business Analytics', 'Business Analytics Intern'): ['Mohamed Sahim', 'Reshma R S']}

Descriptive Terms: Science, Data
------------------------------------------------
Malleeswari G
Mahalakshmi S
Deepak R
Mohamed Sahim
Reshma R S

Descriptive Terms: Analytics, Business
------------------------------------------------------------
Mohamed Sahim
Reshma R S